



/* =================================================================*/

 /* ESTILO GERAL */
/* =================================================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    background-color: black;
    height: 100vh;

}

.interface{

     max-width: 1280px;
     margin: 0 auto;

}

.flex{

    display: flex;
}


h2.titulo{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


h2.titulo span{
    color: #004AAD;
}

.btn-contato button{

    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #004AAD;
    border: 0;
    color: #141414;
    border-radius: 30px;
    cursor: pointer;
}

  button:hover{
    box-shadow: 0px 0px 8px #004bad;

    color: #fff;
    transform: scale(1.10);
    transition: .2s;

}



/* ESTILO DO CABEÇALHO */

header{
    padding: 40PX 4%;
}


header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    color: #535353;
    text-decoration: none;
    display: inline-block;
}


header a:hover{
    color: #fff;
    transform: scale(1.10);
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav ul li{

    display: inline-block;
    padding: 0 40px;
}

 
/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .txt-top-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
    font-weight: bold;
}

.topo-do-site .txt-top-site h1 span{
 color: #004AAD;
 font-size: 54px;
}

.topo-do-site .txt-top-site p{
    color: #ffffff;
    margin: 25px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
       top: 30px;
    }
}

/* ESTILO DOS MEUS CONHECIMENTOS */

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
 gap: 60px;
 flex-wrap: wrap; /* Adiciona essa propriedade */
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    width: calc(33.33% - 40px);
    box-sizing: border-box; 
    margin-top: 45px;
    transition: .2s;

}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #004bad98;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* Responsividade (opcional) */
@media (max-width: 768px) {
    .especialidades .especialidades-box {
        width: calc(50% - 40px); /* 2 containers por linha em telas menores */
    }
}

@media (max-width: 480px) {
    .especialidades .especialidades-box {
        width: 100%; /* 1 container por linha em telas muito pequenas */
    }
}


/* ESTILO DO SOBRE */

section.sobre{
    padding: 80px 4%;
}

section.sobre .interface {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.sobre .img-sobre {
    margin-right: 20px; 
}


section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
    max-width: 600px; 
}

.sobre .txt-sobre h2{
    font-size: 40px;
    font-weight: bold;
}

.sobre .txt-sobre h2 span{
    color: #004bad;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:#004AAD;
    font-size: 25px;
    cursor: pointer;
    margin: 0 4px;
    transition: .2s;
}